@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "icomoon_my_new_set";
  src: url("../fonts/icomoon_my_new_set.eot");
  src: url("../fonts/icomoon_my_new_set.ttf") format("truetype"),
    url("../fonts/icomoon_my_new_set.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
