.header {
  background: #7cb488;
  min-height: 100px;
  width: 100%;
  padding: 20px;
  padding-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.205);
  z-index: 10;
}
.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header_content {
  text-align: center;
}
.header_text {
  color: #fff;
  font-size: 25px;
  margin-bottom: 5px;
}
.header_comment {
  font-size: 19px;
  color: #fff;
}
.header_btnBlock {
  display: flex;
}
.btn-signup {
  font-size: 16px;
  font-weight: 700;
  background: #9989b3;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: none;
  box-shadow: 0px 6px 4px 0.5px rgb(224, 206, 255);
}
.hide {
  display: none;
}
.show {
  display: block;
}
.btn-enter,
.btn-logout {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  background: #ff5454;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0px 6px 4px 0.5px rgb(255, 202, 202);
}
.btn-logout {
  margin-left: 15px;
  display: none;
}
.btn-logout:hover,
.btn-enter:hover {
  // color: rgb(214, 214, 214);
  background: #e74444;
  border: 1px solid #fff;
  transform: scale(1.05);
}
.btn-create {
  font-size: 16px;
  display: none;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px 6px 2px 0.5px#fff;
}
.btn-create:hover {
  // background: #dddddd;
  transform: scale(1.05);
  box-shadow: 0px 6px 2px 0.5px rgb(240, 240, 240);
}
.btn-create:focus {
  box-shadow: 0px 2px 2px 0.5px#fff;
  transform: translateY(4px);
}
.btn-create-show {
  display: block;
}
